:root {
  --padding: 30px;
  --color-primary: #333;
  --color-secondary: #B8B8B8;
  --color-danger: #FFADAD;
  --background-secondary: #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
}

.App {
  min-width: calc(360px - var(--padding) * 2);
  width: calc(100vw - var(--padding) * 2);
  min-height: calc(100vh - var(--padding) * 2);
  padding: var(--padding);
  overflow: hidden;
}

.container {
  width: 100%;
  position: relative;
}

.heading-1,
.text--bold {
  font-weight: 700;
}

.heading-1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.paragraph-1 {
  font-weight: 400;
  font-size: 20px;
}

.subtitle-1 {
  font-size: 14px;
  color: var(--color-secondary);
  font-weight: 400;
}
